<ion-header>
    <app-header title="Blog" action="add-outline"> 
    </app-header>
</ion-header>

<ion-content>
    <!--<pre>{{allPosts$ | async | json}}</pre>-->
    <ion-grid *ngIf="(allPosts$|async) as allPost">
        <ion-row *ngFor="let post of allPost.slice(0,max)">
            <ion-col>
                <ion-card [routerLink]="post.id">
                    <ion-card-header>
                        <ion-card-title color="primary">{{post.title}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        {{post.body}}
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div class="ion-text-center">
        <ion-button *ngIf="(allPosts$|async)?.length >=max" (click)="loadMore()"><ion-icon name="add-outline"></ion-icon></ion-button>
    </div>
</ion-content>  