<ion-header class="ion-no-border">
    <ion-toolbar color="primary">
      <ion-title>Blog</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <!--<pre>{{allPosts$ | async | json}}</pre>-->
    <ion-grid >
        <ion-row *ngFor="let post of (allPosts$|async)">
            <ion-col>
                <ion-card [routerLink]="post.id">
                    <ion-card-header>
                        <ion-card-title color="primary">{{post.title}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        {{post.body}}
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    
</ion-content>  