<ion-content>
    <form [formGroup]="blogForm" >        
        <ion-item>
            <ion-label>Id</ion-label>
            <ion-input formControlName="id"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Title</ion-label>
            <ion-input formControlName="title"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Body</ion-label>
            <ion-input formControlName="body"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>User Id</ion-label>
            <ion-input value="1" formControlName="userId"></ion-input>
        </ion-item>
        <ion-button type="submit"></ion-button>
    </form>
</ion-content>


